<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="UTF-8">
<title>Login ByteShelf</title>
<link rel="stylesheet" href="style.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<header>

<img src="logo_retangular_azul.png" class="logo-top">

</header>


<div class="main">

<div class="logo-area">

<img src="logo_quadrado_azul.png" class="logo-big">

</div>



<div class="login-box">

<h2>Faça login na sua conta</h2>


<label>E-mail institucional</label>

<div class="input">

<i class="fa-regular fa-envelope"></i>

<input type="email"
placeholder="seuemail@aluno.iffar.edu.br">

</div>


<div class="senha-line">

<label>Senha</label>

<a href="recuperar_senha.html">Esqueceu sua senha?</a>

</div>


<div class="input">

<i class="fa-solid fa-lock"></i>

<input type="password" id="senha" placeholder="••••••••">

<i class="fa-solid fa-eye-slash eye" id="eye" onclick="mostrarSenha()"></i>

</div>


<button>Entrar</button>


</div>

</div>

<script src="script.js"></script>

</body>
</html>